<template name="EventList">
    <div class="well">
        Максимальное расстояние <input type="text" value="3" id="range-slider">
    </div>

    {{#each events}}
        {{> EventItem}}
    {{/each}}
</template>


<template name="EventItem">
    <div class="list-group">
        <a href="{{pathFor "event.show"}}" class="list-group-item">
            <h4 class="list-group-item-heading">{{title}}</h4>
            <span class="badge">{{party.length}}</span>
            <p class="list-group-item-text">{{description}}</p>
        </a>
    </div>
</template>