<template name="EventView">
    <div class="page-header">
        <h3>{{title}}
            <small>{{eventTime}}</small>
        </h3>
        <pre>{{description}}</pre>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Участники</div>
        <div class="panel-body">
            <div class="list-group">
                {{#each eventParty}}
                    <a href="{{pathFor 'profile.show'}}" class="list-group-item">
                        {{profile.name}}
                        {{#if isLeader ..}}
                            <span class="badge">организатор</span>
                        {{/if}}
                    </a>
                {{/each}}
            </div>
        </div>
    </div>

    {{#if canJoin}}
        <button type="button" class="btn btn-success" id="join-btn">Присоединиться</button>
    {{/if}}

    {{#if canLeave}}
        <button type="button" class="btn btn-warning" id="leave-btn">Покниуть</button>
    {{/if}}

    <h5>Комментарии</h5>
    <ul class="list-group">
        {{#each comments}}
            {{>CommentItem}}
        {{/each}}
    </ul>

    {{>CommentCreate}}

</template>
